.container {
    margin: 90px 3;
}

.card {
    margin: 0 2.0% !important;
}

.infected {
    border-top: 10px solid black
}
.recovered {
    border-top: 10px solid black
}
.deaths {
    border-top: 10px solid black
}