@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

.Formcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(235, 235, 235);
  font-size: 17px;
  color: #008080;
  width: 100%;
  font-family: "Lucida Console", "Courier New", monospace;
  
}

.font {
  font-family: "Lucida Console", "Courier New", monospace;
}

.big {
  font-size: 15px;
  color: #0d397c;
}

.Center {
  text-align: center;
  width: 100%;
  height: 15vh;
  align-items: center;
  margin-top: 10px;
  font-size: 22px;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: rgb(95, 90, 90);
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

.authContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: tomato;
  cursor: pointer;
}

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(230, 227, 227);
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
}

.authSubmit {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #04aaff;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: underline;
}


.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.h4 {
  font-size: 15px;
  color: #04aaff;
  font-family: "Lucida Console", "Courier New", monospace;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

.logOut {
  margin-top: 50px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 0px 20px;
  color: black;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #5F9EA0;
  height: 60px;
  width: 60px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color: white !important;
  font-size: 35px !important;
  margin: 0px;
  border-bottom:  2px solid blueviolet;
  line-height: inherit;
  display: inline-block;
  white-space: nowrap;
}



