/* App header Covid-19 page - Flex box */
.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.5rem;
} 
/* App heading */
.Heading {
    font-size: 3rem;
}

/* Aligning parts to left of the screen */
.app__left {
    flex: 0.9;
}
/* Setting background styling */
.app {
    display: flex;
    justify-content: space-evenly;
    padding: 90px;
}
body {
}
/* Table header styling */
.app__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}
/* Table on right of Covid-19 page */
.table {
    margin-top: 20px;
    overflow: scroll;
    color: #6a5d5d;
    background-color: white;
    height: 450px;
    font-family: sans-serif;
    cursor: pointer;
    border-style: solid;
} 
.table tr {
    display: flex;
    justify-content: space-between;
} 
.table td {
    padding: 0.5rem;
    border-style: solid;
}  
.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

/* Spacing between features (flex left/ right) */
.app__stats{
    display: flex;
    justify-content: space-between;
}

/* Buttons on Home page */
.button {
    border: none;
    color: white;
    padding: 9px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
/* Setting the buttons to have a hover affect */
.button:hover {
    background-color: #555555;
    color: white;
}

/* Text box on home page */
.text-box {
    font-size: 25px;
}

/* Responsive app - min screen size set to 990px */
@media (max-width: 900px) {
    .app {
        flex-direction: column;
    }
}

/* Map styling on Covid-19 page */ 
.map {
    height: 700px;
    background-color: white;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}  
/* Need to set a hight for the map or else error */
.map .leaflet-container {
    height: 100%;
    border-radius: 12px;
}  
/* Flag styling */
.info-flag img {
    width: 100px;
    border-radius: 5px;
} 
/* Pop up styling */
.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}  
.info-container {
    width: 200px;
}  
.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
} 
.info-name {
    text-align: center;
} 
.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

/* Setting cards styling and spacing */
.infoBox {
    flex: 1;
    cursor: pointer;
}
.infoBox:not(:last-child){
    margin-right: 15px;
}
.infoBox__cases {
    color: #5B5B5B;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infoBox__total {
    color: #ff0000;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

/* Selected card styling */
.infoBox--selected {
    border-top: 10px solid rgb(0, 0, 0);
}
.infoBox--black {
    border-color: black;
}

/* Review table on home page */
.reviewTable {
    margin-top: 15px;
    overflow: scroll;
    border-style: solid;
    color: #6a5d5d;
    background-color: white;
    height: 450px;
    font-family: sans-serif;
    cursor: pointer;
    width: 100%;
    flex: 0.9;
} 
.reviewTable th {
    display: flex;
    flex: 0.9;
} 
.reviewTable td {
    padding: 0.6rem;
    border: none;
}  
.reviewTable tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}
