/* App header Covid-a9 page - Flex box */
.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: x-large;
}  

/* Aligning parts to left of the screen */
.app__left {
    flex: 0.8;
}
.app {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f6fa;
    padding: 20px;
}
body {
    background-color: #f5f6fa;
}
.app__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}
.app__information > h3:last-of-type {
    margin-top: 1rem;
    font-family: sans-serif;
}

/* Table on right of Covid-19 page */
.table {
    margin-top: 20px;
    overflow: scroll;
    color: #6a5d5d;
    background-color: white;
    height: 400px;
    font-family: sans-serif;
} 
.table tr {
    display: flex;
    justify-content: space-between;
} 
.table td {
    padding: 0.5rem;
    border: none;
}  
.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

/* Spacing between features (flex left/ right) */
.app__stats{
    display: flex;
    justify-content: space-between;
}

/* Buttons on Home page */
.button {
    border: none;
    color: white;
    padding: 9px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.button:hover {
    background-color: #555555;
    color: white;
}

/* Text box on home page */
.text-box {
    font-size: 25px;
}

/* Responsive app - min screen size set to 990px */
@media (max-width: 990px) {
    .app {
        flex-direction: column;
    }
}

/* Map styling on Covid-19 page */ 
.map {
    height: 600px;
    background-color: white;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}  
.map .leaflet-container {
    height: 100%;
    border-radius: 12px;
}  
.info-flag img {
    width: 100px;
    border-radius: 5px;
} 
.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}  
.info-container {
    width: 150px;
}  
.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}  
.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.reviews {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
}